<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<style>
    p{
        text-transform: capitalize;
        margin: 2rem 3rem;
        text-align: justify;
    }
    p:hover{
        background-color: black;
        color: white;
        padding: 1rem;
        transition: 2s all;
    }
</style>

</head>

<body>
    

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ipsa blanditiis minus sapiente accusamus odit, mollitia ad, sint ex placeat, totam labore maiores incidunt consectetur. Corporis pariatur voluptatum quaerat laudantium!
    Repudiandae aperiam eligendi, excepturi amet ea delectus porro consequuntur dolor eum dolorum optio! Exercitationem, illo. At dolorum dolores beatae sint nihil repellendus suscipit velit neque. Explicabo labore placeat aspernatur aliquam.
    Deserunt impedit ullam debitis accusamus necessitatibus cum, quas ipsam quo, repellendus nemo odio aliquam pariatur! Facere modi quia doloremque voluptate nesciunt itaque voluptas ea expedita perferendis, voluptatibus sint ipsam aliquid?
    Eum nulla placeat modi molestiae repudiandae, eveniet velit itaque officiis nam sapiente, vitae odit nobis illum ut quis vel blanditiis. Repellendus ex illum aperiam minus cum repudiandae? Explicabo, quasi sequi!
    Sapiente voluptatibus, nobis atque molestiae corporis beatae culpa sequi quas veniam saepe dignissimos dolorem nisi qui eveniet voluptate quod fugit nostrum odio! At soluta omnis rerum similique vero, perspiciatis atque!</p>

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>